<ion-card>

  <div (click)="gotoDetail()">

    <img src="{{event.image}}" />

    <ion-card-content>
      <ion-card-title>
        {{event.name}}
      </ion-card-title>
      <p>
        {{event.startDate | date}}
      </p>
    </ion-card-content>

  </div>

  <ion-row no-padding>
    <ion-col col-4>
      <button ion-button clear small color="danger" icon-left (click)="addToFavorites()">
          <ion-icon name='star'></ion-icon>
          Сохранить
        </button>
    </ion-col>
    <ion-col text-center col-4>
      <button ion-button clear small color="danger" icon-left (click)="remind()">
          <ion-icon name='calendar'></ion-icon>
          Напомнить
        </button>
    </ion-col>
    <ion-col text-right col-4>
      <button ion-button clear small color="danger" icon-left (click)="share()">
          <ion-icon name='share-alt'></ion-icon>
          Поделиться
        </button>
    </ion-col>
  </ion-row>

</ion-card>